---
import Header from './header/Header'
import Send from './Send'
import '@/assets/prism.css'
import '@/assets/transition.css'

import Conversation from './main/Conversation'
---

<main class="relative h-full flex-1 flex flex-col overflow-hidden bg-base">
  <Header client:only />
  <main class="flex-1 mt-14 flex flex-col overflow-hidden">
    <div class="flex-1 relative overflow-hidden">
      <Conversation client:only />
    </div>
  </main>
  <Send client:load />
</main>
